body{
    background-color: lightblue;
}

.stats_container{
    display: grid;
    justify-content: center;
    box-shadow: 4px 4px 8px black;
}

.Main_Stats_Container{

    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
h2{
    text-align: center;
}
