:root{
    color-scheme: dark light;
}
.profile-picture{
    width: 240px;
    height: 240px;
    float: right;
    box-shadow: -12px -12px 7px 0px green;
    border-radius: 50%;
    z-index: -1px;
}

body{
   margin: 0;
}
body{
    height:98vh;
    width: 100vw;
    overflow-x: hidden;
}

summary{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
max-width: 80ch;
font-size: 18px;
font-style: italic;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 70%;
    width: 100%;
}

.button-choice{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    height: 10%;
    gap: 24px;
}

.button-choice button{
    height: 40px;
    width: 120px;
    cursor: pointer;
}

.Technologies-and-Tools{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 24px;
    grid-template-columns: repeat(6,190px);
    height: max-content;
    width: 100%;
}

.card-tool{
    text-align: center;
    box-shadow: -1px 9px 7px 1px black;

}
.card-tool img{
    width: 120px;
    height: 120px;
}

.card-tool h4{
    text-align: center;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
nav{
  display: flex;
  justify-content:right;
  align-items: center;
  padding: 36px;
  column-gap: 12px;
}

select{
    border: 0px;
    background-color:#FFF;
    color: #000;
    padding: 4px;
    font-weight: 900;
    border-radius: 12px;
}

option{
    font-weight: 900;
}

.supported-language{
    width: 30px;
    height: 15px;
}

.Projects{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 24px;
    grid-template-columns: repeat(3,190px);
    height: 100%;
    width: 100%;
}

.footer-container{
    width: 100%;
    height: 20%;
    box-shadow: 0px -1px 7px 2px #FFF;
}

.circle-blue{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: aqua;
    filter: blur(12px);
    margin: 10%
}

.square-red{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: red;
    filter: blur(12px);
    display: flex;
    justify-content: end;
    margin-top: 5%;
    margin-left: 90%;
}

.circle-green{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: green;
    filter: blur(12px);
    display: flex;
    justify-content: end;
    margin-top: 30%;
    margin-left: 50%;
}

.button-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    gap: 24px;
}

.button-display button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.button-display button:hover{
    border: 4px solid skyblue;
    width: 40px;
    height: 40px;
}